---
Language: Cpp
BasedOnStyle: LLVM
UseTab: Always
TabWidth: 4
IndentWidth: 4
ContinuationIndentWidth: 4
BreakBeforeBraces: Attach
PointerAlignment: Right
DerivePointerAlignment: false
SpaceBeforeParens: ControlStatements
ColumnLimit: 100
SortIncludes: Never
AllowShortFunctionsOnASingleLine: Empty
...
